<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">

                <div>
                    <a href="#"><span class="fa fa-2x fa-facebook" style="color:#395795;margin:0 5px 0 0;"></span></a>
                    <a href="#"><span class="fa fa-2x fa-youtube" style="color:#C6171D;margin:0 5px 0 5px;"></span></a>
                    <a href="#"><span class="fa fa-2x fa-twitter" style="color: #2CA5DB;margin:0 5px 0 5px;"></span></a>
                    <a href="#"><span class="fa fa-2x fa-linkedin" style="color:#0074B2;margin:0 5px 0 5px;"></span></a>
                    <a style="margin:0 0 0 5px;"><u>Mednity</u>© 2020</a>
                </div>
            </div>
        </div>
    </div>
</section>